
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/reset";
@use "../base/typography";
@use "../components/button";
@use "../components/card";
@use "../layout/header";
@use "../layout/sidebar";
@use "../layout/player";
@use "../pages/home";
@use "../pages/library";
@use "../pages/album";
@use "../pages/search";
@use "../layout/maincontent";




html {
    font-size: 62.5%;
}

@media (max-width: 77rem) {
    .left-sidebar {
        display: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: variables.$bg-color;

    .main-section {
        width: 100%;
        margin-bottom: 12rem;
    }
    .friends-section {
        display: none;
    }
}

@media (min-width: 60rem) {
    body {
        display: flex;
        flex-direction: row;
        height: 100vh; 
        overflow-x: hidden;

        .main-section {
            margin-top: 8.1rem;
            padding-bottom: 3rem;
            position: relative;

        }

    }
    main {
        width: calc(100vw - 25.9rem);
        position: relative;
        left: 25.9rem;
        height: 100vh;
        top: 8.1rem;
    }
    // .sidebar {
    // display: block;
    // } 
}

