
$header-text-font: 1.2rem;
$header-text-wght: 400;
$header-text-col: rgba(137, 137, 137, 1);
$header-txt-font-fam: Satoshi;
$header-txt-lnh: 100%;
$header-txt-let-space: 3%;

$page-bg-color: rgba(6, 6, 6, 1);
$all-main-txt-icon-col: rgba(137, 137, 137, 1);
$hp-sdbtitl-font: 1.4rem;
$hp-sdbtitl-font-weight: 400;

$cards-main-text-col
: rgba(224, 224, 224, 1);
$cards-second-text-col: rgba(137, 137, 137, 1);
$cards-main-text-wght: 500;
$cards-main-text-font: 1.4rem;
$cards-secondr-text-wght: 400;
$cards-secondr-text-font: 1.2rem;
