
$header-text-font: 1.2rem;
$header-text-wght: 400;
$header-text-col: rgba(137, 137, 137, 1);
$header-txt-font-fam: Satoshi;
$header-txt-lnh: 100%;
$header-txt-let-space: 3%;

$page-bg-color: rgba(6, 6, 6, 1);
$all-main-txt-icon-col: rgba(137, 137, 137, 1);
$hp-sdbtitl-font: 1.4rem;
$hp-sdbtitl-font-weight: 400;

$cards-main-text-col
: rgba(224, 224, 224, 1);
$cards-second-text-col: rgba(137, 137, 137, 1);
$cards-main-text-wght: 500;
$cards-main-text-font: 1.4rem;
$cards-secondr-text-wght: 400;
$cards-secondr-text-font: 1.2rem;



$bg-color: #111111;
$primary-color: #E0E0E0;
$button-inactive:rgba(32, 32, 32, 0.5);
$player-color: #333842;
$player-artist-text: #898989;
$play-button: #1ED760;
$card-secondary: #202020;
$header-text:rgba(137, 137, 137, 1);
$bg-player: rgba(51, 56, 66, 1);
$player-text-linear: rgba(219, 219, 219, 1);


$h3-text: 2.0rem;
$sub-text: 1.4rem;
$small-text: 1.2rem;

// Writing individual colors here because I can't see any other way of doing this

$card-pink: #CE6E9A;
$card-cyan: #95E6D3;
$card-light-pink: #F4B8BD;
$card-light-green: #C3E7B7;
$card-light-red: #F37FA6;
$card-light-blue: #A0BEC8;
$card-yellow: #FDD87D;
$card-light-brown: #D4B2A9;
$card-light-orange: #DEB075;
$card-green: #8DC3B5;
$card-light-purple: #A6BAD3;
$card-forest-green: #C3E7B7;

// Adding playlist individual colors bellow this

$mix-green: #CCF665;
$mix-yellow: #F9E72C;
$mix-blue: #9BF0E2;
$mix-dark-blue: #6F86FF;
$mix-pink: #FFCBD4;
$mix-orange: #FFC668;
$mix-dark-green: #27856B;
$mix-purple: #DD138B;


// Writing individual colors here because I can't see any other way of doing this
$blucard-bg-col: rgba(30, 50, 100, 1);
$orange-bg-col: rgba(186, 93, 7, 1);
$navy-bg-col: rgba(30, 50, 100, 1);
$purp-bg-col: rgba(141, 103, 171, 1);
$pink-bg-col: rgba(176, 40, 151, 1);
$violet-bg-col: rgba(176, 40, 151, 1);
$gray-bg-col: rgba(176, 40, 151, 1);
$gold-bg-col: rgba(176, 40, 151, 1);
$green-bg-col: rgba(176, 40, 151, 1);
$oran2-bg-col: rgba(176, 40, 151, 1);
$brown-bg-col: rgba(80, 55, 80, 1);
$teal-bg-col: rgba(0, 100, 80, 1);
$red-bg-col: rgba(233, 20, 41, 1);
$darkbl-bg-col: rgba(30, 50, 100, 1);
$red-nd-bg-col: rgba(233, 20, 41, 1);
$sky-bg-color: rgba(83, 122, 161, 1);

$card-text-col: rgba(255, 255, 255, 1);
$place-hold-txt-col: rgba(137, 137, 137, 0.7);
$crd-txt-fnt-wght: 900;
$crd-fnt-size: 2rem;
$all-txt-font: Satoshi;

$main-titl-col: rgba(224, 224, 224, 1);
$main-titl-fnt-wght: 700;
$section-titl-wght: 500;
$section-titl-font-size: 1.8rem;
