*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%;
}

footer, header, nav, section, main{
  display: block;
}

ol, ul{
  list-style: none;
}